body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  cursor: pointer; 
}
.app {
  display: flex;
  background-color: #3b3b3b;
}

.app-landing-wrapper {
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.react-logo-landing {
  position: absolute;
  opacity: 0.05;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 400px;
  width: 400px;
}
